<div [@fadeInOut] class="container">
  <div class="card">
    <h1 class="card-header">{{course.name}}</h1>
    <div class="card-body">
      <p class="card-text" [innerHTML]="course.description | sanitizehtml"></p>
    </div>
  </div>
  <h2>Course parts:</h2>
  <ul *ngFor="let coursePart of selectedCourseParts" class="course-parts">
    <li [routerLink]="['/course-part-details', {coursePart: coursePart | json}]"><h2>{{coursePart.title}}</h2></li>
  </ul>
  <div id="course-details-buttons" class="text-right">
    <button type="button" class="btn btn-primary" [routerLink]="['/create-course-part', {course: course | json}]" *ngIf="hasRole('ROLE_CM')">
      Add course part
    </button>
    <button class="btn btn-secondary" (click)="routeBack()">Return</button>
  </div>
</div>
