.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#course-details-buttons {
    margin-top: 10px;
}

#course-details-buttons button {
  margin-right: 10px;
}

.course-parts li {
    list-style: none;
}

.course-parts li:hover {
    cursor: pointer;
    color: #3a93ff;
}
