<div class="row text-center">
  <div class="col-lg-3 col-md-6 mb-4" *ngFor="let book of books">
    <div class="card h-100">
      <img class="card-img-top" src="{{book.imageUrl}}" width="325" height="215" alt="">
      <div class="card-body">
        <h4 class="card-title">{{book.name}}</h4>
        <p class="card-text">{{book.description}}</p>
      </div>
      <div class="card-footer">
        <a class="btn btn-primary">Read</a>
        <a *ngIf="db.getCurrentUser().role == 'admin'" class="btn btn-info" data-toggle="modal" (click)="saveBookId(book.id)" data-target="#myEditModal">Edit</a>
        <a *ngIf="db.getCurrentUser().role == 'admin'" class="btn btn-danger" (click)="deleteBook(book)">Delete</a>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Adding new book</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form id="bookForm">
          <div class="form-group">
            <label for="name">Name:</label>
            <input #name type="text" class="form-control" id="name">
          </div>
          <div class="form-group">
            <label for="desc">Description:</label>
            <input #description type="text" class="form-control" id="desc">
            <input #imageUrl type="text" class="form-control" id="imgUrl" placeholder="Image URL">
          </div>
          <button type="button" class="btn btn-primary" (click)="createBook(name.value, description.value, imageUrl.value)">Submit</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<div class="modal" id="myEditModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit book</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form id="bookEditForm">
          <div class="form-group">
            <label for="nameEdit">Name:</label>
            <input #name type="text" class="form-control" id="nameEdit">
          </div>
          <div class="form-group">
            <label for="descEdit">Description:</label>
            <input #description type="text" class="form-control" id="descEdit">
            <input #imageUrl type="text" class="form-control" id="imgUrlEdit" placeholder="Image URL">
          </div>
          <button type="button" class="btn btn-primary" (click)="updateBook(name.value, description.value, imageUrl.value)">Submit</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

