.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#course-details-buttons {
  margin-top: 10px;
}

.course-part-actions {
  position: absolute;
  right: 15px;
  top: 10px;
}

.course-part-actions i {
  margin-right: 5px;
}

.course-part-actions i:hover{
  cursor: pointer;
}
