<div class="container">
  <hr>
  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Create Account</h4>
      <form #form="ngForm" (ngSubmit)="register(form)">
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input name="username" class="form-control" placeholder="Username" type="text" #username="ngModel" [(ngModel)]="user.username">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
          </div>
          <input name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" placeholder="Email address" type="email">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
          </div>
          <input name="dateOfBirth" #dateOfBirth="ngModel" [(ngModel)]="user.dateOfBirth" class="form-control" type="date" title="Date of birth">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input class="form-control" placeholder="Create password" name="password" #password="ngModel" [(ngModel)]="user.password" type="password">
        </div> <!-- form-group// -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
        </div> <!-- form-group// -->
        <p class="text-center">Have an account? <a href="">Log In</a> </p>
      </form>
    </article>
  </div> <!-- card.// -->

</div>
<!--container end.//-->
