<div class="form-group" *ngIf="appComponent.showCreateCourse">
    <form id="create-course-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <label for="course-name" id="course-name-label">Name: </label> <br>
        <input class="form-control" id="course-name" name="name" #name="ngModel" type="text" minlength="1" maxlength="255" placeholder="Enter course name..." required [(ngModel)]="course.name"/>
        <div [hidden]="name.valid"
             class="alert alert-danger">
          Name is required
        </div>
        <label for="course-short-desc">Short description: </label>
        <input type="text" name="short-description" id="course-short-desc" class="form-control" minlength="1" maxlength="100" required [(ngModel)]="course.shortDescription" #shortDescription="ngModel"/> <br>
        <div [hidden]="shortDescription.valid"
             class="alert alert-danger">
            Short description is required
        </div>
        <label for="course-description" id="course-description-label">Description: </label>
        <ejs-richtexteditor #toolsRTE id="course-description" [toolbarSettings]='tools' #fromRTE [(value)]='rteValue' required name="description" [(ngModel)]="course.description" #description="ngModel"></ejs-richtexteditor>
        <div [hidden]="description.valid"
             class="alert alert-danger">
            Description is required
        </div>
        <div id="date-time-wrapper">
          <label for="start-date-time">Choose start date and time: </label>
          <input type="datetime-local" class="form-control" id="start-date-time" name="startDateTime" required [(ngModel)]="course.startDateTime"/> <br>
          <label for="end-date-time">Choose end date and time: </label>
          <input type="datetime-local" class="form-control" id="end-date-time" name="endDateTime" required [(ngModel)]="course.endDateTime" max="2099-12-31T00:00"/> <br>
          <label for="course-price">Course price (leave 0 if it's free): </label>
          <input name="price" class="form-control" id="course-price" type="number" min="0" [(ngModel)]="course.price"/>
        </div>
        <div class="text-right course-form-buttons">
            <button type="submit" class="btn btn-success">Create</button>
            <button type="button" class="btn btn-danger" (click)="toggleShowCreateCourse()">
                Cancel
            </button>
        </div>
    </form>
</div>
<div class="form-group" *ngIf="appComponent.showCreateCoursePart">
    <form id="create-course-part-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <label for="course-part-title" id="course-part-title-label">Title: </label> <br>
        <input class="form-control" id="course-part-title" name="title" #title="ngModel" type="text" minlength="1" maxlength="255" placeholder="Enter course part title..." required [(ngModel)]="coursePart.title"/>
        <div [hidden]="title.valid"
             class="alert alert-danger">
            Title is required
        </div>
        <label for="course-description" id="course-part-content-label">Content: </label>
        <ejs-richtexteditor #toolsRTE id="course-part-content" [toolbarSettings]='tools' #fromRTE [(value)]='rteValue' required name="content" [(ngModel)]="coursePart.content" #content="ngModel"></ejs-richtexteditor>
        <div [hidden]="content.valid"
             class="alert alert-danger">
            Content is required
        </div>
        <div class="text-right course-form-buttons">
            <button type="submit" class="btn btn-success">Create</button>
            <button type="button" class="btn btn-danger" (click)="toggleShowCreateCoursePart()">
                Cancel
            </button>
        </div>
    </form>
</div>

