<div *ngIf="appComponent.showCreateCoursePart">
  <app-courseform></app-courseform>
</div>
<div *ngIf="!appComponent.showCreateCoursePart && !appComponent.showCoursePart">
  <div class="card">
    <h1 class="card-header">{{course.name}}</h1>
    <div class="card-body">
      <p class="card-text" [innerHTML]="course.description | sanitizehtml"></p>
    </div>
  </div>
  <div id="course-details-buttons" class="text-right">
    <button type="button" class="btn btn-primary" (click)="toggleShowCreateCoursePart()">
      Add course part
    </button>
    <button class="btn btn-secondary" (click)="toggleShowCourseDetails()">Return</button>
  </div>
</div>
<div *ngIf="!appComponent.showCreateCoursePart && !appComponent.showCoursePart">
  <ul *ngFor="let coursePart of selectedCourseParts" class="course-parts">
    <li (click)="toggleShowCoursePart(coursePart)"><h2>{{coursePart.title}}</h2></li>
  </ul>
</div>
<div *ngIf="appComponent.showCoursePart">
  <app-course-part-details></app-course-part-details>
</div>