<div class="container" [@fadeInOut] *ngIf="hasRole('ROLE_USER')">
  <!-- Jumbotron Header -->
  <div class="row">
    <div class="col-lg-12" *ngFor="let course of recentCourses">
      <div class="card course-card">
        <div class="course-actions">
          <i class="fas fa-pencil-alt" id="edit-course" [routerLink]="['/edit-course', {course: course | json, editMode: true}]"></i>
          <i class="far fa-times-circle" style="color: red" id="delete-course" (click)="deleteCourse(course)"></i>
        </div>
        <div class="card-body">
          <h2 class="card-title" [routerLink]="['/course-details', course]">{{course.name}}</h2>
          <p>{{course.shortDescription}}</p>
        </div>
        <div class="card-footer">
          <div class="text-left">
            <div><b>Starts:</b> {{course.startDateTime | date: 'dd/MM/yyyy'}} at {{course.startDateTime | date: 'h:mm:ss'}}</div>
            <div><b>Ends:</b> {{course.endDateTime | date: 'dd/MM/yyyy'}} at {{course.endDateTime | date: 'h:mm:ss'}}</div>
            <div><b>Price:</b> {{course.price}} UAH</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-right" *ngIf="hasRole('ROLE_ADMIN')">
    <button type="button" class="btn btn-success" routerLink="/create-course">
      Add new course
    </button>
  </div>
</div>
